.arbeidsgivertelefonen {
    display: flex;
    justify-content: center;
    align-items: center;

    &__ikon {
        display: none;
    }

    &__tekst-wrapper {
        width: 100%;
    }

    &__tlf {
        margin-bottom: 1rem;
        display: block;
    }

    @media (min-width: 700px) {
        &__ikon {
            display: block;
        }

        &__tekst-wrapper {
            margin-left: 1.5rem;
        }
    }
}
