@import '~nav-frontend-core/less/_variabler';

.fylkesvelger {
    padding: 0 1.25rem 3.5rem;

    &__tittel {
        text-align: center;
        margin: 4rem 0;
    }

    &__lenkeliste {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    @media (min-width: @screen-sm-min) {
        margin: 0 auto;

        &__fylke {
            max-width: @screen-sm-min;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
