.arbeidsgivertelefonen {
    display: flex;
    justify-content: center;
    align-items: center;

    &__ikon {
        display: none;
    }

    &__tekst-wrapper {
        width: 100%;
    }

    @media (min-width: 700px) {
        &__ikon {
            display: block;
        }

        &__tekst-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 1.5rem;
        }
    }
}
