@import '~nav-frontend-core/less/_variabler';

.andre-kontaktpunkter {
    @media (min-width: 700px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.kontaktpunkt-tema {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;

    &__illustrasjon {
        margin-bottom: 1rem;
    }

    &__tittel {
        text-align: center;
    }

    @media (min-width: 700px) {
        max-width: 33%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
