@import '~nav-frontend-core/less/_variabler';

.kontaktskjema-felter {
    margin: 1rem 0;
    width: 100%;
    margin-block-end: 1rem;

    &__undertittel {
        margin-top: 1.5rem;
    }

    .felt {
        margin-top: 1rem;
    }


    @media (min-width: @screen-sm-min) {
        &__bolk {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;
        }
    }
}
