@import '~nav-frontend-core/less/_variabler';

.ansattrepresentant {
    width: 100%;
    margin: 1rem 0 2rem;
    border: 0;
    padding: 0;

    &__label {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .radioPanel + .radioPanel {
        margin-top: 0.5rem;
    }

    .radioPanel {
        display: inline-block;
    }

    @media (min-width: @screen-sm-min) {
        .radioPanel {
            width: calc(((50% - 1rem) - 1rem) / 2);

            + .radioPanel {
                margin-top: 0;
                margin-left: 1rem;
            }
        }
    }
}
